<!-- fichier src/Template/Users/index.ctp -->

<h1>Liste des utilisateurs</h1>
<?php

if($users->count() == 0){
    echo '<p>Il n\'y a aucun utilisateur.</p>';
}else{
    echo '<ul class="list">';
    foreach ($users as $u) { ?>
        <li>
            <?= $u->pseudo ?>
            <?= $u->password ?>
        </li>
    <?php }
    echo '</ul>';
}
?>
